html {
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: #fff;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

a:hover {
  color: #000;
  background: #fff;
}
